<div ng-controller="displayProjectsController">
	<div href="#" class="alert alert-info">
	<span class="glyphicon glyphicon-search"></span> Search:
		<input ng-model="search.$" type="text" id="wherebox" name="othercity" value="" placeholder="What you are looking for.." maxlength="90" autocomplete="off" autocapitalize="off" autocorrect="off">	
	</div>
				
			      <div class="table-responsive">     
				<table class="table table-hover">
				<thead>
				  <tr>
					<th>Project Name</th>
					<th>Description</th>
					<th>Project Code</th>
				  </tr>
				</thead>
				<tbody>
			  <tr ng-repeat="project in projects | orderBy:'name' | filter:search"
					ng-click="selectTab(project)">
				<td>{{project.projectCategory.name}}</td>
				<td>{{project.name}}</td>
				<td>{{project.key}}</td>	
			  </tr>
			  </tbody>		
			</table>
		    </div>
	
</div>