.success-true{
    text-decoration: line-through;
}
#masthead {
background-image: url('../images/sbjiralogo.png');
background-repeat: no-repeat;
height: 50px !important;
}

.bodyPadding{
    width: 1040px;
	}
	
.list-group-item {
	padding : 24px 15px;
	margin-bottom : 10px;	
}

